In [802]:
import pandas as pd
import re

In [803]:
audio_book = pd.read_csv('project_dataset.csv')

In [804]:
audio_book.head(1)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00

In [805]:
audio_book['author']

0        Writtenby:GeronimoStilton
1            Writtenby:RickRiordan
2             Writtenby:JeffKinney
3            Writtenby:RickRiordan
4            Writtenby:RickRiordan
                   ...
87484       Writtenby:ChrisStewart
87485      Writtenby:StephenO'Shea
87486          Writtenby:MarkTwain
87487     Writtenby:LaurenceSterne
87488      Writtenby:MarkKurlansky
Name: author, Length: 87489, dtype: object

In [806]:
audio_book['author'] = audio_book['author'].str.replace('Writtenby:', '')

In [807]:
audio_book['author'] = audio_book['author'].str.replace(r'([a-z])([A-Z])', r'\1 \2', regex=True)

In [808]:
audio_book['author']

0        Geronimo Stilton
1            Rick Riordan
2             Jeff Kinney
3            Rick Riordan
4            Rick Riordan
               ...
87484       Chris Stewart
87485      Stephen O'Shea
87486          Mark Twain
87487     Laurence Sterne
87488      Mark Kurlansky
Name: author, Length: 87489, dtype: object

In [809]:
audio_book['narrator']

0            Narratedby:BillLobely
1         Narratedby:RobbieDaymond
2            Narratedby:DanRussell
3        Narratedby:SoneelaNankani
4        Narratedby:JesseBernstein
                   ...
87484      Narratedby:ChrisStewart
87485        Narratedby:RobertFass
87486         Narratedby:FloGibson
87487       Narratedby:AntonLesser
87488       Narratedby:FleetCooper
Name: narrator, Length: 87489, dtype: object

In [810]:
audio_book['narrator'] = audio_book['narrator'].str.replace('Narratedby:', '')

In [811]:
audio_book['narrator'] = audio_book['narrator'].str.replace(r'([a-z])([A-Z])', r'\1 \2', regex=True)

In [812]:
audio_book['narrator']

0            Bill Lobely
1         Robbie Daymond
2            Dan Russell
3        Soneela Nankani
4        Jesse Bernstein
              ...
87484      Chris Stewart
87485        Robert Fass
87486         Flo Gibson
87487       Anton Lesser
87488       Fleet Cooper
Name: narrator, Length: 87489, dtype: object

In [813]:
audio_book.head(6)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
5,The Hunger Games: Special Edition,Suzanne Collins,Tatiana Maslany,10 hrs and 35 mins,30-10-18,English,5 out of 5 stars72 ratings,656.00

In [814]:
audio_book['hours'] = pd.to_numeric(audio_book['time'].str.extract(r'(\d+) hr')[0], errors='coerce').fillna(0).astype(int)
audio_book['temp_minutes'] = pd.to_numeric(audio_book['time'].str.extract(r'(\d+) min')[0], errors='coerce').fillna(0).astype(int)

In [815]:
audio_book.head(1)

,name,author,narrator,time,releasedate,language,stars,price,hours,temp_minutes
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,2,20

In [816]:
audio_book['minutes'] = audio_book['hours'] * 60 + audio_book['temp_minutes']

In [817]:
audio_book.head(1)

,name,author,narrator,time,releasedate,language,stars,price,hours,temp_minutes,minutes
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,2,20,140

In [818]:
audio_book.drop(columns=['hours', 'temp_minutes'], inplace=True)

In [819]:
audio_book.head(1)

,name,author,narrator,time,releasedate,language,stars,price,minutes
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,140

In [820]:
audio_book['releasedate'] = pd.to_datetime(audio_book['releasedate'], errors='coerce')

In [821]:
audio_book.head(1)

,name,author,narrator,time,releasedate,language,stars,price,minutes
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.00,140

In [822]:
name_value = audio_book.loc[2, 'stars']

In [823]:
name_value[1]

'.'

In [825]:
def extract_rating(r):
    if " out of " in r:
        parts = r.split()
        for part in parts:
            try:
                rating = float(part)
                return rating
            except ValueError:
                pass

    try:
        rating = float(r)
        return rating
    except ValueError:
        return 'Not rated yet'

In [826]:
audio_book['rating']  = audio_book['stars'].apply(lambda x: extract_rating(x))

In [827]:
audio_book.head(4)

,name,author,narrator,time,releasedate,language,stars,price,minutes,rating
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.00,140,5.0
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.00,788,4.5
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.00,123,4.5
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.00,676,4.5

In [829]:
def extract_number_from_string(s):
    pattern = r'\d+' 
    matches = re.findall(pattern, s)
    return int(matches[-1]) if matches else 'Not rated yet'

In [830]:
audio_book['number_of_ratings']  = audio_book['stars'].apply(lambda x: extract_number_from_string(x))

In [831]:
audio_book.head(4)

,name,author,narrator,time,releasedate,language,stars,price,minutes,rating,number_of_ratings
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.00,140,5.0,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.00,788,4.5,41
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.00,123,4.5,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.00,676,4.5,12

In [832]:
def convert_to_float(value):
    try:
        return pd.to_numeric(value.replace(',', ''))
    except ValueError:
        return value

In [833]:
audio_book['price'] = audio_book['price'].apply(convert_to_float)

In [834]:
audio_book.head(4)

,name,author,narrator,time,releasedate,language,stars,price,minutes,rating,number_of_ratings
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0,140,5.0,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,788,4.5,41
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0,123,4.5,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0,676,4.5,12

In [835]:
audio_book

,name,author,narrator,time,releasedate,language,stars,price,minutes,rating,number_of_ratings
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0,140,5.0,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,788,4.5,41
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0,123,4.5,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0,676,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,600,4.5,181
...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,2017-09-03,English,Not rated yet,596.0,454,Not yet rated,Not yet rated
87485,The Alps,Stephen O'Shea,Robert Fass,10 hrs and 7 mins,2017-02-21,English,Not rated yet,820.0,607,Not yet rated,Not yet rated
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,2016-12-30,English,Not rated yet,938.0,1144,Not yet rated,Not yet rated
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,2011-02-23,English,Not rated yet,680.0,248,Not yet rated,Not yet rated
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,2017-07-03,English,Not rated yet,569.0,361,Not yet rated,Not yet rated

In [837]:
audio_book.to_csv('project_dataset_clean.csv ', index=False)